
<div class="contain mb-2">
    <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">
  
      <h4 class="card-title font-weight-bold ">
        <h2 class="text-success ">Student Register Page</h2>
      </h4>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card card-body">
      <%- include ("./messages") %>
      <form action="/update_student_<%=users._id%>" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
            value="<%= users.name %>" />
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
            value="<%= users.email %>" />
        </div>
        <div class="row">
        <div class="col">
          <label for="phoneno">Phone No</label>
          <input type="phoneno" id="phoneno" name="phoneno" class="form-control" placeholder="Enter Phone No"
            value="<%= users.phoneno %>" />
        </div>
        <div class=" col">
          <label for="rollno">Roll No</label>
          <input type="text" id="rollno" name="rollno" class="form-control" placeholder="Enter Roll no"
            value="<%= users.rollno %>" />
        </div>
      </div>
  
        <div class="row">
                  
            <div class="col">
              <label for="course">Course</label>
              <input type="text" id="phoneno" name="course" class="form-control" placeholder="Enter Course"
                value="<%= users.course %>" />
            </div>
            <div class="col">
              <label for="branch">Branch</label>
              <input type="text" id="branch" name="branch" class="form-control" placeholder="Enter Course"
                value="<%= users.branch %>" />
            </div>
            <div class="col">
              <label for="year">Year</label>
              <input type="text" id="year" name="year" class="form-control" placeholder="Enter Course"
                value="<%= users.year %>" />
            </div>
            <div class=" col">
              <label for="batch">Batch</label>
              <input type="text" id="batch" name="batch" class="form-control" placeholder="Enter Batch"
                value="<%= users.batch %>" />
            </div>
            
           
          
      </div>
  
        <!-- <div class="form-group mt-2">
          <div class="row">
            <div class="col-md-4">
              <label for="textarea">Select Hostal:</label>
              
  
            </div>
            <div class="col-md-4">
              <select class="form-select" aria-label="Default select example" name="hostal" id="textarea">
              <option>Select Hostal</option>
              <option value="Shiva ji Boys Hostal">Shiva ji Boys Hostal</option>
              <option value="Swarn Jayanti Boys Hostal"> Swarn Jayanti Boys Hostal</option>
              <option value="Ganga Girls Hostal"> Ganga Girls Hostal</option>
              <option value="Saraswati Girls Hostal"> Saraswati Gitls Hostal</option>
              <option value="Kaveri Girls Hostal"> Kaveri Girls Hostal</option>
              <option value="All">All</option>
              </select>
            </div>
          </div>
        </div> -->
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="html">Gender : </label>
            </div>
            <div class="col">
                <input type="radio" id="html" name="gender" value="Male">
              <label for="html">Male</label><br>
            </div>
            <div class="col">
               
                <input type="radio" id="css" name="gender" value="Female">
                <label for="css">Female</label><br></div>
             
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
            value="<%= users.password %>" />
        </div>
  
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
            value="<%= users.password2 %>" />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="address" id="address" name="address" class="form-control" placeholder="Enter Address"
            value="<%= users.address %>" />
        </div>
        <button type="submit" class="btn btn-success btn-block">
          Register
        </button>
      </form>
    </div>
  </div>
  </div>
  