<div class="contain mb-2">
    <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">
  
      <h4 class="card-title font-weight-bold ">
        <h2 class="text-success ">Placement Data Page</h2>
      </h4>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card card-body">
      <%- include ("./messages") %>

        <form action="/update_data_<%=users._id%>" method="POST">
          <div class="form-group">
  
            <div class="row">
            <div class="col">
              <label for="name">Student Name</label>
              <input type="text" id="name" name="name" class="form-control" placeholder="Enter Student Name"
                value="<%= users.name %>" />
            </div>
            <div class="col">
              <label for="branch">Branch</label>
              <input type="text" id="branch" name="branch" class="form-control" placeholder="Enter Branch"
                value="<%= users.branch %>" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="batch">Batch</label>
              <input type="text" id="batch" name="batch" class="form-control" placeholder="Enter Batch"
                value="<%= typeof batch != 'undefined' ? batch : '' %>" />
            </div>
            <div class="col">
              <label for="company">Company</label>
              <input type="text" id="company" name="company" class="form-control" placeholder="Enter company"
                value="<%= users.company %>" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="package">Package</label>
              <input type="text" id="package" name="package" class="form-control" placeholder="Enter package"
                value="<%= users.package %>" />
            </div>
            <div class="col">
              <label for="role">Role</label>
              <input type="text" id="role" name="role" class="form-control" placeholder="Enter Role"
                value="<%= users.role %>" />
            </div>
          </div>
            <!-- <div class="form-group mt-2">
            <div class="row">
              <div class="col-md-4">
                <label for="textarea">Select Subject Department:</label>
              </div>
              <div class="col-md-4">
                <select class="form-select" aria-label="Default select example" name="sub_dept" id="textarea">
                <option>Select Department</option>
                <option value="PHYSICS">PHYSICS</option>
                <option value="MATH"> MATH</option>
                <option value="CSE"> COMPUTER SCIENCE</option>
                <option value="CHEMISTRY"> CHEMISTRY</option>
                
                </select>
              </div>
            </div>
          </div>  -->
  
            <button type="submit" class="btn btn-success btn-block my-2">
              Submit
            </button>
        </form>
    </div>
  </div>
  </div>