<div class="contain mb-2">
    <%- include ("./nav2") %>
    <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">
  
      <h4 class="card-title font-weight-bold ">
        <h2 class="text-success ">Collection of Internship Data Page</h2>
      </h4>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card card-body">
  
      <%- include ("./messages") %>
        <form action="/update_internship_<%=users._id%>" method="POST"  enctype="multipart/form-data">
          <div class="form-group">
  
            <div class="row">
              
              <div class="col">
                <label for="company">Company</label>
                <input type="text" id="company" name="company" class="form-control" placeholder="Enter company"
                  value="<%= users.company %>" />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="stipend">Stipend</label>
                <input type="text" id="stipand" name="stipand" class="form-control" placeholder="Enter Stipand"
                  value="<%= users.stipand %>" />
              </div>
              <div class="col">
                <label for="role">Role</label>
                <input type="text" id="role" name="role" class="form-control" placeholder="Enter Role"
                  value="<%= users.role %>" />
              </div>
              <div class="col">
                <label for="project">Project Name</label>
                <input type="text" id="project" name="project" class="form-control" placeholder="Enter Project Name"
                  value="<%= users.project %>" />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="startdate">Starting Date</label>
                <input type="date" id="startdate" name="startdate" class="form-control"  placeholder="Enter Starting Date" value="<%= users.startdate %>" />
              </div>
              <div class="col">
                <label for="enddate">Ending Date</label>
                <input type="date" id="enddate" name="enddate" class="form-control" placeholder="Enter End Date"
                  value="<%= users.enddate %>" />
              </div>
              
            </div>
            <button type="submit" class="btn btn-success btn-block my-2">
              Submit
            </button>
        </form>
    </div>
  </div>
  </div>