
<div class="contain mb-2">
    <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">
  
      <h4 class="card-title font-weight-bold ">
        <h2 class="text-success ">Teacher Register Page</h2>
      </h4>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card card-body">
      <%- include ("./messages") %>
      <form action="/tea_register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
        <div class="form-group">
          <label for="phoneno">Phone No</label>
          <input type="phoneno" id="phoneno" name="phoneno" class="form-control" placeholder="Enter Phone No"
            value="<%= typeof phoneno != 'undefined' ? phoneno : '' %>" />
        </div>
        <div class="row">
            <div class=" col">
                <label for="department">department</label>
                <input type="text" id="department" name="department" class="form-control" placeholder="Enter department"
                  value="<%= typeof department != 'undefined' ? department: '' %>" />
            </div>

            <div class="col">
              <label for="qualification">qualification</label>
              <input type="text" id="qualification" name="qualification" class="form-control" placeholder="Enter qualification"
                value="<%= typeof qualification != 'undefined' ? qualification : '' %>" />
            </div>

            <div class="col">
              <label for="roa">ROA</label>
              <input type="text" id="roa" name="roa" class="form-control" placeholder="Enter Area of Reasearch"
                value="<%= typeof roa != 'undefined' ? roa : '' %>" />
            </div>

           
      </div>
  
        <!-- <div class="form-group mt-2">
          <div class="row">
            <div class="col-md-4">
              <label for="textarea">Select Hostal:</label>
              
  
            </div>
            <div class="col-md-4">
              <select class="form-select" aria-label="Default select example" name="hostal" id="textarea">
              <option>Select Hostal</option>
              <option value="Shiva ji Boys Hostal">Shiva ji Boys Hostal</option>
              <option value="Swarn Jayanti Boys Hostal"> Swarn Jayanti Boys Hostal</option>
              <option value="Ganga Girls Hostal"> Ganga Girls Hostal</option>
              <option value="Saraswati Girls Hostal"> Saraswati Gitls Hostal</option>
              <option value="Kaveri Girls Hostal"> Kaveri Girls Hostal</option>
              <option value="All">All</option>
              </select>
            </div>
          </div>
        </div> -->

        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="html">Gender : </label>
            </div>
            <div class="col">
                <input type="radio" id="html" name="gender" value="Male">
              <label for="html">Male</label><br>
            </div>
            <div class="col">
               
                <input type="radio" id="css" name="gender" value="Female">
                <label for="css">Female</label><br></div>
             
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
  
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        
        <button type="submit" class="btn btn-success btn-block">
          Register
        </button>
      </form>
    </div>
  </div>
  </div>
  