<div class="contain">
    <%- include ("./nav4") %>
  </div>
  <div class="contain mb-2">
    <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">
  
      <h4 class="card-title font-weight-bold ">
        <h2 class="text-success ">View All Students Details</h2>
  
      </h4>
    </div>
  </div>
  
  <div class="card mr-2 ml-2">
    <%- include ("./messages") %>
  
  
  
      <div class="card card-outline card-primary">
        <div class="card-body">
          <table id="myTable" class="table tabe-hover table-bordered table-responsive table-condensed " id="parent">
  
            <thead>
              <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Branch</th>
                <th>Year</th>
                <th>Course & Batch</th>
                <th>Gender</th>
                <th>Phone No</th>
                <th>Roll No</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>
  
            <tbody>
              <% for(var i = (users.length-1); i>= 0 ; i--) { %>
              <tr>
  
                <td><b class="text-lowercase"><%=users[i].email%></b></td>
                <td><b><%=users[i].name%></b></td>
                <td><b><%=users[i].branch%></b></td>
                <td><b><%=users[i].year%></b></td>
                <td><b><%=users[i].course%> ,<%=users[i].batch%></b></td>
                <td><b><%=users[i].gender%></b></td>
                <td><b><%=users[i].phoneno%></b></td>
                <td><b><%=users[i].rollno%></b></td>
                <td><b><%=users[i].address%></b></td>
                
                
  
                <td class="text-center">
                  <div class="btn-group">
                    <a href="/delete_student_<%= users[i]._id %>" onclick="return confirm('Are you confirm want to delete');"  class="btn border-shadow btn-danger delete" class="btn btn-success btn-flat">
                      <i class="fas fa-trash"></i>
                    </a>
                    <a href="/update_student_<%= users[i]._id %>" class="btn btn-success btn-flat view_parcel">
                      <i class="fas fa-user-edit"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      </div>
  </div>
