<div class="contain">
    <%- include ("./nav4") %>
  </div>
  <div class="contain mb-2">
    <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">
  
      <h4 class="card-title font-weight-bold ">
        <h2 class="text-success ">View Collection of Internship Data</h2>
  
      </h4>
    </div>
  </div>
  
  <div class="card mr-2 ml-2">
    <%- include ("./messages") %>
  
  
  
      <div class="card card-outline card-primary">
        <div class="card-body">
          <table id="myTable" class="table tabe-hover table-bordered table-responsive table-condensed " id="parent">
  
            <thead>
              <tr>
                <th>Name</th>
                <th>Branch</th>
                <th>Batch</th>
                <th>Competitive Exam Name</th>
                <th>Percentile</th>
                <th>Score</th>
                <th>Rank</th>
                <th>Date for Exam</th>
                <th>View</th>
                <th>Download</th>
                <th>Action</th>
              </tr>
            </thead>
  
            <tbody>
              <% for(var i = (users.length-1); i>= 0 ; i--) { %>
              <tr>
  
                <td><b><%=users[i].name%></b></td>
                <td><b><%=users[i].branch%></b></td>
                <td><b><%=users[i].batch%></b></td>
                <td><b><%=users[i].exam_info.exam%></b></td>
                <td><b><%=users[i].exam_info.percentile%></b></td>
                <td><b><%=users[i].exam_info.score%></b></td>
                <td><b><%=users[i].exam_info.rank%></b></td>
                <td><b><%=users[i].exam_info.date%></b></td>
                <td><a href="<%=users[i].exam_info.viewLink%>" target="_blank"  class="btn btn-success btn-sm btn-flat view_parcel"><i class="fas fa-eye "></i></a></td>
                <td><a href="<%=users[i].exam_info.downloadLink%>"  class="btn btn-primary btn-sm btn-flat view_parcel"><i class="fas fa-download"></i></a></td>
                
                <td class="text-center">
                  <div class="btn-group">
                    <a href="/delete_exam_<%= users[i].exam_info._id %>" onclick="return confirm('Are you confirm want to delete');"  class="btn border-shadow btn-danger delete" class="btn btn-success btn-flat">
                      <i class="fas fa-trash"></i>
                    </a>
                    <a href="/update_exam_<%= users[i].exam_info._id %>" class="btn btn-success btn-flat view_parcel">
                        <i class="fas fa-user-edit"></i>
                      </a>
                  </div>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      </div>
  </div>
